{# Based on
https://github.com/alphagov/govuk-design-system/blob/e770df0ebc43439b828d46f2c7f5a71a8eff3007/views/partials/_back-to-top.njk
-#}

{% macro guidanceBackToTop() -%}

<div class="guidance-back-to-top guidance-back-to-top--hidden js-guidance-back-to-top">
  <a class="govuk-link govuk-link--no-visited-state moduk-link--maroon guidance-back-to-top__link" href="#top">
    {# focusable="false" stops IE stopping on this when pressing Tab -#}
    <svg role="presentation" focusable="false" class="guidance-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>Back to top
  </a>
</div>

{%- endmacro %}
