{% from "components/header/macro.njk" import guidanceHeader %}
{% from "components/navigation/macro.njk" import guidanceNavigation %}
{% from "moduk/components/footer/macro.njk" import modukFooter %}
{% from "moduk/components/skip-link/macro.njk" import modukSkipLink %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>
    {%- block pageTitle -%}
    {%- if title -%}
      {{ title }} – MOD.UK Design System
    {%- else -%}
      MOD.UK Design System
    {%- endif -%}
    {%- endblock -%}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="{{ "src/site/index.scss" | inputToRevvedOutput }}" />
</head>
<body class="govuk-template__body">
<script>
  document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
</script>

{{- modukSkipLink({
  href: '#main-content',
  text: 'Skip to main content'
}) -}}

{{- guidanceHeader({
  homepageUrl: "/",
  serviceName: "Design System",
  serviceUrl: "/",
  classes: 'guidance-header'
}) -}}

{{- guidanceNavigation({
  activeUrl: page.url,
  collections: collections
})
-}}

{%- block body -%}
{%- endblock -%}

{%- block footer -%}
  {{ modukFooter() }}
{%- endblock -%}

<script src="/main.js"></script>
</body>
</html>
