{% from "components/header/macro.njk" import guidanceHeader %}
{% from "components/navigation/macro.njk" import guidanceNavigation %}
{% from "moduk/components/footer/macro.njk" import modukFooter %}
{% from "moduk/components/phase-banner/macro.njk" import modukPhaseBanner %}
{% from "moduk/components/skip-link/macro.njk" import modukSkipLink -%}

{%- set defaultDescription =
  "MOD.UK Frontend contains the code for components you’ll need to build user "
  + "interfaces for Defence products and services." -%}

{%- set headTitle = headTitle | default(title) -%}
{%- set computedDescription = description or defaultDescription -%}
{%- set siteName = "MOD.UK Design System" -%}

{%- if headTitle -%}
  {%- set computedTitle = headTitle + " – " + siteName -%}
{%- else -%}
  {%- set computedTitle = siteName -%}
{%- endif -%}

{% if htmlClass == undefined %}{%- set htmlClass = "govuk-template" -%}{% endif %}

<!DOCTYPE html>
<html lang="en" {% if htmlClass %}class="{{ htmlClass }}"{% endif %}>
<head>
  <meta charset="utf-8">
  <title>{{ computedTitle }}</title>
  {% block headExtra -%}{%- endblock %}
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% if noIndex or vars.noIndex %}
  <meta name="robots" content="noindex, nofollow">
  {% endif %}
  <meta name="description" content="{{ computedDescription }}">
  <meta property="og:title" content="{{ computedTitle }}">
  <meta property="og:description" content="{{ computedDescription }}">
  <meta property="og:site_name" content="{{ siteName }}">
  <meta property="og:image" content="{{ vars.baseUrl }}/assets/images/tile-social.png">
  <meta property="og:image:alt" content="Ministry of Defence">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="og:image:type" content="image/png">
  <meta property="og:locale" content="en_GB">
  <meta property="twitter:card" content="summary_large_image">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icon-32.png">
  <link rel="icon" type="image/svg+xml" href="/assets/images/icon.svg">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icon-180.png">
  <link rel="mask-icon" href="/assets/icon-safari-mask.svg" color="#532A45">
  <link rel="manifest" href="/manifest.json">
  <link rel="stylesheet" href="{{ "/index.scss" | revvedOutput }}">
  {% if vars.googleTagId %}
  <script>
    window.dataLayer = window.dataLayer || [];
    window.googleTagId = '{{ vars.googleTagId }}'
    function gtag(){dataLayer.push(arguments);}
    gtag('consent', 'default', {
      'analytics_storage': 'denied'
    });
    gtag('js', new Date());
    gtag('config', window.googleTagId);
  </script>
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ vars.googleTagId }}"></script>
  {% endif %}
</head>
<body class="govuk-template__body moduk--primary-nav-expanded{% if bodyClasses %} {{ bodyClasses }}{% endif %}">
<script>
  document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
</script>

{%- block bodyNav -%}
{{- modukSkipLink({
  href: '#main-content',
  text: 'Skip to main content'
}) -}}

{%- include "components/cookie/cookie-banner.njk" -%}

{% call guidanceHeader({
  homepageUrl: "/",
  serviceName: "Design System",
  serviceUrl: "/",
  classes: "guidance-header",
  containerClasses: "guidance-width-container"
}) %}

{{- modukPhaseBanner({
  tag: {
    text: "beta"
  },
  classes: "guidance-phase-banner guidance-width-container",
  html: 'This is a new service – your <a class="govuk-link moduk-link--maroon" href="mailto:' + vars.contactEmail + '">feedback</a> will help us to improve it.'
}) -}}

{% endcall %}

{{- guidanceNavigation({
  activeUrl: page.url,
  collections: collections
})
-}}
{%- endblock -%}

{%- block body -%}
{%- endblock -%}

{%- block footer -%}
  {{ modukFooter({
    containerClasses: "guidance-width-container",
    meta: {
      items: collections.footerLinks
    }
  }) }}
{%- endblock -%}

<script src="/main.js"></script>
</body>
</html>
