/**
 * Based on
 * https://github.com/alphagov/govuk-design-system/blob/aa8e3850be94c6c1e0eb7e296b5eca8479c08090/src/stylesheets/components/_split-pane.scss
 */

@use '@moduk/frontend/src/css' as moduk;
@use 'global/markdown';

$toc-width: 260px;
$toc-width-tablet: 210px;

.guidance-content {
  @include moduk.govuk-responsive-padding(6, 'top');
  @include moduk.govuk-responsive-padding(6, 'left');
  @include moduk.govuk-responsive-padding(8, 'bottom');

  & > .govuk-body > {
    @include markdown.markdown-styles;
  }
}

.guidance-split-pane {
  @include moduk.govuk-media-query($from: tablet) {
    display: flex;
    position: relative;
    min-height: 0;
    overflow: inherit;
  }
}

.guidance-split-pane__nav {
  @include moduk.govuk-media-query($until: tablet) {
    display: none;
  }

  @include moduk.govuk-media-query($from: tablet) {
    width: $toc-width-tablet;
    flex: 0 0 auto;
  }

  @include moduk.govuk-media-query($from: desktop) {
    width: $toc-width;
  }
}

.guidance-split-pane__content {
  @include moduk.govuk-media-query($from: tablet) {
    display: flex;
    min-width: 0;
    flex: 1 1 100%;
    flex-direction: column;
  }
}
