{%- extends "layouts/_base.njk" -%}

{%- from "components/back-to-top/macro.njk" import guidanceBackToTop -%}
{%- from "components/side-nav/macro.njk" import guidanceSideNav -%}

{%- block body -%}
<div class="guidance-split-pane guidance-width-container">
  <div class="guidance-split-pane__nav">
    {{ guidanceSideNav({
      url: page.url,
      items: collections[tags[0]] | rejectattr_path('data.is_root') | sort(false, false, 'data.order')
    }) }}
  </div>
  <div class="guidance-split-pane__content-pane">
    <main class="guidance-split-pane__content" id="main-content" role="main">
      {% if pageCaptions[tags[0]] and not is_root %}<span class="govuk-caption-xl">{{ pageCaptions[tags[0]] }}</span>{% endif %}
      <h1 class="govuk-heading-xl">{{ title }}</h1>

      <div class="govuk-body">
        {{ content | safe }}
      </div>
    </main>
  </div>
  {{ guidanceBackToTop() }}
</div>
{%- endblock -%}
