{%- extends "layouts/_base.njk" -%}

{%- from "components/side-nav/macro.njk" import guidanceSideNav -%}

{%- block body -%}
<div class="guidance-width-container">
  <div class="govuk-grid-row">
    <main class="guidance-markdown-page-content govuk-grid-column-two-thirds" id="main-content" role="main">
      <h1 class="govuk-heading-xl">{{ title }}</h1>
      <div class="govuk-body">
        {{ content | safe }}
      </div>
    </main>
  </div>
</div>
{%- endblock -%}
