{% macro guidanceMacroOptionsTable(params) -%}

<table class="govuk-table guidance-options__table" id="options-{{ params.exampleId }}--{{ params.tableId }}">
  <caption class="govuk-table__caption govuk-heading-m {% if params.tableId == 'primary' %} govuk-visually-hidden{% endif %}">{{ params.name }}</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header guidance-options__limit-table-cell" scope="col">Name</th>
      <th class="govuk-table__header guidance-options__limit-table-cell" scope="col">Type</th>
      <th class="govuk-table__header" scope="col">Description</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body guidance-options-table">
    {% for option in params.table -%}
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">{{option.name}}</th>
        <td class="govuk-table__cell">{{option.type}}</td>
        <td class="govuk-table__cell guidance-macro-option-description">
          {% if option.required === true %}
            <strong>Required.</strong>
          {% endif %}
          {{ option.description | markdown }}
          {% if option.isComponent -%}
            {% if option.name === "hint" or option.name === "label" %}
              See <a href="#options-{{ params.exampleId }}--{{ option.name }}">{{ option.name }}</a>.
            {% else %}
              See <a href="/components/{{ option.name | kebabCase }}/">{{ option.name | kebabCase | replace('-', ' ') }}</a>.
            {% endif %}
          {% endif %}
          {% if option.isUnnested %}
            See <a href="#options-{{ params.exampleId }}--{% if params.tableId === "primary" %}{{ option.name }}{% else %}{{ params.tableId + "." + option.name }}{% endif %}">{{ option.name }}</a>.
          {% endif -%}
        </td>
      </tr>
    {%- endfor -%}
  </tbody>
</table>

{%- endmacro -%}
