@use '@moduk/frontend/src/css' as moduk;

.govuk-phase-banner.guidance-phase-banner {
  @include moduk.govuk-media-query($from: tablet) {
    border-bottom: none;
  }
}

.moduk--has-hero .govuk-phase-banner.guidance-phase-banner {
  @media not (prefers-contrast) {
    border-bottom: none;
  }
}

.moduk--primary-nav-expanded .govuk-phase-banner.guidance-phase-banner {
  @media not (prefers-contrast) {
    border-bottom: none;
  }
}
