@use '@moduk/frontend/src/css' as moduk;

.govuk-link.moduk-link--maroon {
  &,
  &:visited {
    color: moduk.moduk-colour('light-maroon');
  }

  &:focus {
    color: moduk.govuk-colour('black');
  }

  &:hover {
    color: moduk.moduk-colour('dark-maroon');
  }
}
