---
pagination:
  data: examples
  size: 1
  alias: example
  addAllPagesToCollections: false
permalink: 'components/{{ example.componentName }}/preview/{{ example.exampleName }}/index.html'
---
{%- set title = example.componentName | title | replace('-', ' ') + ' preview' -%}
{%- set htmlClass = "" -%}
{%- set noIndex = 1 -%}

{%- extends "layouts/_base.njk" -%}

{%- block bodyNav -%}{%- endblock -%}

{%- block body -%}
<div class="govuk-!-static-padding-6">
  <main>
    <h1 class="govuk-visually-hidden">{{ title }} preview</h1>

    {%- include example.template -%}
  </main>
</div>
{%- endblock -%}

{%- block footer -%}{%- endblock -%}
