/**
 * Based on
 * https://github.com/alphagov/govuk-design-system/blob/d6882771b1f9e556eca3a2ea46c5f0cb44f5693e/src/stylesheets/components/_masthead.scss
 */

@use '@moduk/frontend/src/css' as moduk;

.guidance-hero {
  @include moduk.govuk-responsive-padding(7, 'top');
  @include moduk.govuk-responsive-padding(7, 'bottom');
  border-bottom: 1px solid moduk.$moduk-brand-colour;
  color: moduk.govuk-colour('white');
  background-color: moduk.$moduk-brand-colour;
}

.guidance-hero__title {
  color: moduk.govuk-colour('white');
  @include moduk.govuk-responsive-margin(6, 'bottom');
}

.guidance-hero__description {
  @include moduk.govuk-font(24);
  margin-bottom: 0;
}
