@use '@moduk/frontend/src/css' as moduk;

$govuk-link-colour: moduk.$moduk-brand-colour;
$border-width: 4px;

.guidance-navigation {
  background-color: moduk.govuk-colour('light-grey');
}

.guidance-navigation__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  @include moduk.govuk-media-query($from: desktop) {
    flex-direction: row;
    margin: 0 0 0 moduk.govuk-spacing(-4);
  }
}

.guidance-navigation__list-item {
  padding: moduk.govuk-spacing(3);
  list-style: none;

  @include moduk.govuk-media-query($from: desktop) {
    padding: moduk.govuk-spacing(2) moduk.govuk-spacing(4);
  }

  .govuk-link:not(:focus) {
    color: moduk.$moduk-brand-colour;
  }

  .govuk-link:hover {
    text-decoration: underline;
  }
}

.guidance-navigation__list-item--current {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: $border-width;
    background-color: moduk.$moduk-brand-colour;
  }

  @include moduk.govuk-media-query($from: desktop) {
    &::after {
      top: auto;
      bottom: 0;
      width: 100%;
      height: $border-width;
    }
  }
}

.guidance-width-container {
  @include moduk.govuk-media-query($from: desktop) {
    @include moduk.govuk-width-container;
  }
}
