{%- macro guidanceNavigation(params) -%}
  <nav id="guidance-navigation" class="js-guidance-navigation guidance-navigation" aria-labelledby="guidance-navigation-heading" data-list-type="primary">
    <h2 class="govuk-visually-hidden" id="guidance-navigation-heading">Menu</h2>
    <div class="guidance-navigation-width-container">
      <ul class="guidance-navigation__list">
        {%- for item in params.collections.all | selectattr_path('data.is_root') | sort(false, false, 'data.order') -%}
          {% set hasCollection = params.collections[
            item
              .data
              .tags[0]
          ] | rejectattr_path('data.is_root') | length %}
          {% set collectionIsActive = params.collections[
            item
              .data
              .tags[0]
          ] | isUrlInCollection(params.activeUrl) %}

            <li class="guidance-navigation__list-item{% if collectionIsActive or params.activeUrl == item.url %} guidance-navigation__list-item--current{% endif %}{% if hasCollection %} guidance-navigation__list-item--has-collection{% endif%}">
              <a class="guidance-navigation__link" href="{{item.url}}">{{item.data.title}}</a>
              {%- if hasCollection -%}
                <button hidden class="guidance-navigation__button moduk-link--maroon js-guidance-toggle" aria-controls="guidance-navigation__subnav_{{loop.index}}" data-initial-open="{{ collectionIsActive }}">{{item.data.title}}</button>
                {%- include "./submenu.njk" -%}
              {%endif%}
            </li>
          {%- endfor -%}
        </ul>
    </div>
  </nav>
{%- endmacro -%}
