@use '@moduk/frontend/src/css' as moduk;

@mixin moduk-link-maroon {
  &,
  &:link,
  &:visited {
    color: moduk.moduk-colour('maroon');
  }

  &:hover {
    color: moduk.govuk-colour('black');
  }

  &:active,
  &:focus {
    color: moduk.govuk-colour('black');
  }
}
