@use 'sass:color';
@use '@moduk/frontend/src/css' as moduk;
@use 'global/links';

@mixin markdown-styles {
  h1 {
    @extend %govuk-heading-xl;
  }

  h2 {
    @extend %govuk-heading-l;
  }

  h3 {
    @extend %govuk-heading-m;
  }

  h4 {
    @extend %govuk-heading-s;
  }

  p {
    @extend %govuk-body-m;
  }

  strong,
  b {
    @include moduk.govuk-typography-weight-bold;
  }

  ul,
  ol {
    @extend %govuk-list;
  }

  ol {
    @extend %govuk-list--number;
  }

  ul {
    @extend %govuk-list--bullet;
  }

  ul,
  ol,
  p {
    a {
      @include moduk.govuk-link-common;
      @include links.moduk-link-maroon;
    }

    code {
      padding: 3px 5px;
      background: moduk.govuk-colour('light-grey');
      color: color.scale(
        moduk.govuk-colour('pink'),
        $lightness: -35%,
        $saturation: 100%
      );
      font-size: moduk.govuk-px-to-rem(16px);
      word-break: break-word;
    }
  }

  pre + h2 {
    padding-top: moduk.govuk-spacing(2);
  }

  pre + h3,
  pre + h4 {
    padding-top: moduk.govuk-spacing(1);
  }
}
