{% from "govuk/components/button/macro.njk" import govukButton %}
<div class="guidance-updates">
  <div class="guidance-width-container">
    <div class="govuk-main-wrapper govuk-main-wrapper--l">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
          <h2 class="govuk-heading-l">Updates</h2>
          <p class="govuk-body"><span class="govuk-!-font-weight-bold">27 October 2023:</span> The Defence Developer Services (D2S) will shortly commence work on its re-use strategy and the discovery and delivery of a reusable components service. As part of this, we will commence a Discovery activity for the Design System Toolkit. During the Discovery Phase, the MOD.UK Frontend and Design Library will be in maintenance mode with no further enhancements being made during this time. Only high priority issues such as security fixes or outages will be completed.</p>
          <p class="govuk-body"><span class="govuk-!-font-weight-bold">2 May 2023:</span> We’ve updated MOD.UK Frontend to include improvements from <a href="https://github.com/alphagov/govuk-frontend/releases/tag/v4.6.0" class="govuk-link moduk-link--maroon">GOV.UK Frontend v4.6.0</a>. This includes visual improvements to some components.</p>
          <p class="govuk-body"><a href="https://github.com/defencedigital/moduk-frontend/releases" class="govuk-link moduk-link--maroon">Read our latest release notes</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
