{% from "govuk/components/button/macro.njk" import govukButton %}
<div class="guidance-updates">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper govuk-main-wrapper--l">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
          <h2 class="govuk-heading-l">Updates</h2>
          <p class="govuk-body"><span class="govuk-!-font-weight-bold">24 January 2023:</span> We’ve released MODUK Frontend v0.3.2. This release contains additional MOD colours</p>
          <p class="govuk-body"><a href="https://github.com/defencedigital/moduk-frontend/releases/tag/v0.3.2" class="govuk-link moduk-link--maroon">Read the full release notes</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
