{% from "govuk/components/button/macro.njk" import govukButton %}
<div class="guidance-updates">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper govuk-main-wrapper--l">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
          <h2 class="govuk-heading-l">Updates</h2>
          <p class="govuk-body"><span class="govuk-!-font-weight-bold">17 February 2023:</span> We’ve released MOD.UK Frontend version v1.0.0. This includes HTML and Nunjucks code snippets for 30 components.</p>
          <p class="govuk-body"><a href="https://github.com/defencedigital/moduk-frontend/releases" class="govuk-link moduk-link--maroon">Read the latest release notes</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
