@use 'sass:color';
@use '@moduk/frontend/src/css' as moduk;
@use 'global/variables';

@mixin inline-code {
  @include moduk.govuk-font-size($size: 16);

  padding: 2px 4px;
  background: moduk.govuk-colour('light-grey');
  color: color.scale(
    moduk.govuk-colour('pink'),
    $lightness: -35%,
    $saturation: 100%
  );
  font-family: variables.$monospace-font-stack;
  overflow-wrap: anywhere;

  @include moduk.govuk-media-query($from: tablet) {
    padding: 3px 5px;
  }
}

.guidance-inline-code {
  @include inline-code;
}
