@use '@moduk/frontend/src/css' as moduk;

$border-value: 1px solid moduk.$govuk-border-colour;

.guidance-component-preview {
  border: $border-value;
  border-bottom: none;

  @include moduk.govuk-responsive-margin(6, 'top');
  @include moduk.govuk-responsive-margin(6, 'bottom');
}

.guidance-component-preview__toolbar {
  @include moduk.govuk-font-size($size: 16);

  padding: moduk.govuk-spacing(2);
  border-bottom: $border-value;
}

.guidance-component-preview__preview-wrapper {
  background-image: url('assets/images/chequerboard.svg');
}

.guidance-component-preview__preview {
  position: relative;
  background-color: moduk.govuk-colour('white');
  overflow: hidden;
  resize: both;
  min-height: 60px;
  min-width: 230px;
  max-width: 100%;
  outline: $border-value;
}

.guidance-component-preview__preview-component {
  padding: moduk.govuk-spacing(6);

  // Force margins that are normally added using media queries
  .govuk-width-container {
    margin-right: moduk.$govuk-gutter;
    margin-left: moduk.$govuk-gutter;
  }
}

.guidance-component-preview__preview--iframe {
  display: block;
  width: 100%;
  border: none;
}
