{% from "moduk/components/details/macro.njk" import modukDetails %}

{% from "components/code-snippet/macro.njk" import guidanceCodeSnippet %}
{% from "components/component-preview-tabs/macro.njk" import guidanceComponentPreviewTabs %}
{% from "components/macro-options/macro.njk" import guidanceMacroOptions %}

{% macro guidanceComponentPreview(params) -%}

{%- set exampleTemplatePath = "moduk/components/" + params.componentName + "/__examples__/" + params.exampleName + ".njk" -%}

{% set reactExampleCode -%}
{% readReactExample params.componentName, params.exampleName -%}
{% endset -%}

{%- if params.idSuffix -%}
  {%- set idSuffix = "--" + params.idSuffix -%}
{%- else -%}
  {%- set idSuffix = "" -%}
{%- endif -%}

{%- set idPrefix = params.componentName + "--" + params.exampleName + idSuffix -%}
{%- set iframe = params.iframe | default(true) -%}

{% if params.macroOptionsDetailsId -%}
  {% set macroOptionsDetailsId = params.macroOptionsDetailsId -%}
{% else -%}
  {% set macroOptionsDetailsId = "options--" + idPrefix + "--details" -%}
{% endif -%}

{% set htmlTabContents -%}
{% call guidanceCodeSnippet({ language: "html" }) -%}
{% renderToString exampleTemplatePath -%}
{% endcall -%}
{% endset -%}

{% set nunjucksTabContents %}
{% if params.macroOptions -%}
  {% call modukDetails({
    summaryText: "Nunjucks macro options",
    classes: "guidance-details govuk-!-margin-bottom-3",
    attributes:{
      id: macroOptionsDetailsId,
      "data-tab-id": idPrefix + "--nunjucks"
    }
  }) %}
    {{ guidanceMacroOptions({
      macroOptions: params.macroOptions,
      exampleId: idPrefix
    }) -}}
  {% endcall -%}
{% endif -%}
{% call guidanceCodeSnippet({ language: "jinja2" }) -%}
{% readTemplate exampleTemplatePath -%}
{% endcall -%}
{% endset -%}

{% set tabs = [{
  label: "HTML",
  contents: htmlTabContents | safe,
  panelId: idPrefix + "--html"
}, {
  label: "Nunjucks",
  contents: nunjucksTabContents | safe,
  panelId: idPrefix + "--nunjucks"
}] -%}

{% if flags.showReactCodeSnippets and reactExampleCode -%}

{% set reactTabContents %}
{% call guidanceCodeSnippet({ language: "tsx" }) -%}
{{ reactExampleCode | safe -}}
{% endcall -%}
{% endset -%}

{% set tabs = (tabs.push({
  label: "React",
  contents: reactTabContents | safe,
  panelId: idPrefix + "--tsx"
}), tabs) -%}

{% endif -%}

<div class="guidance-component-preview js-guidance-component-preview">
  <div class="guidance-component-preview__toolbar">
    <a href="/components/{{ params.componentName }}/preview/{{ params.exampleName }}/" class="govuk-link moduk-link--maroon" target="_blank">
      Open this <span class="govuk-visually-hidden">{{ params.componentName | lower | replace('-', ' ') }}</span> example in a new tab
    </a>
  </div>
  <div class="guidance-component-preview__preview-wrapper">
    <div class="guidance-component-preview__preview{% if iframe %} js-guidance-component-preview-iframe guidance-component-preview__preview--iframe{% endif %}" data-example-name="{{ params.exampleName }}" data-iframe-id="{{ idPrefix }}--iframe" data-component-name="{{ params.componentName }}" data-iframe-title="{{params.componentName}} {{params.exampleName}} example">
      <div class="guidance-component-preview__preview-component" >
        {%- renderMinified exampleTemplatePath -%}
      </div>
    </div>
  </div>
  {{ guidanceComponentPreviewTabs({
    tabs: tabs
  }) }}
</div>
{%- endmacro %}
