{%- extends "layouts/generic.njk" -%}

{%- set title = "Get started" -%}

{%- block main -%}
<div class="govuk-width-container">
  <h1 class="govuk-heading-xl">Get started</h2>
</div>
{%- endblock -%}
