---
title: Home
description: >-
  Design and build consistent Defence services.
headTitle:
is_root: true
order: 0
---
{%- set bodyClasses = "moduk--has-hero" -%}

{%- extends "layouts/generic.njk" -%}

{%- from "components/hero/macro.njk" import guidanceHero -%}
{%- from "components/card/macro.njk" import guidanceCard -%}

{%- block main -%}
{{- guidanceHero({
  title: "Design and build consistent Defence services",
  description: "Save time by using accessible components with Defence branding.",
  button: {
    href: "/get-started/",
    text: "Get started"
  }
}) -}}

{%- include "components/updates/updates.njk" -%}

<div class="guidance-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--l">
    <div class="govuk-grid-row">
      {{- guidanceCard(
        [
          {
            heading: "Components",
            text: "Use accessible components, including headers with the Ministry of Defence logo and colours.",
            link: {
              text: "Browse components",
              href: "/components/"
            }
          },
          {
            heading: "Design library",
            text: "Design and prototype Defence services with our design library in Figma.",
            link: {
              text: "Set up design library",
              href: "/get-started/design-library/"
            }
          }
        ]
      ) -}}

      <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-8">
      </div>

      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h2 id="support" class="govuk-heading-m">Support</h2>
        <p class="govuk-body">Email the MOD.UK Frontend team at <a class="govuk-link moduk-link--maroon" href="mailto:{{ vars.contactEmail }}">{{ vars.contactEmail }}</a> if you have questions or feedback.
        </p>
      </div>
    </div>
  </div>
</div>
{%- endblock -%}
