---
permalink: /page-list.json
eleventyExcludeFromCollections: true
---
[
{% for page in collections.all -%}
{
  "url": "{{ page.url }}",
  "title": "{{ page.data.title }}",
  "isRoot": {{ page.data.is_root | default(false) }},
  "tag": {{ page.data.tags[0] | default(null) | dump | safe}},
  "visualRegression": {{ page.data.visual_regression | default({}) | dump | safe }}
}{% if not loop.last %},{% endif %}
{% endfor -%}
]
